<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
       <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceReference2.IBomTableService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ServiceReference1.IBomTableService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_I1cService" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1000000000" maxReceivedMessageSize="1000000000"/>
                <binding name="BasicHttpBinding_IEpdmService" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1000000000" maxReceivedMessageSize="1000000000"/>
                <binding name="BasicHttpBinding_ITaskService" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1000000000" maxReceivedMessageSize="1000000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvkb:8080/VentsService/FirstContract"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I1cService"
                contract="VentsService.I1cService" name="BasicHttpBinding_I1cService" />
            <endpoint address="http://srvkb:8080/VentsService/SecondContract"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEpdmService"
                contract="VentsService.IEpdmService" name="BasicHttpBinding_IEpdmService" />
            <endpoint address="http://srvkb:8080/VentsService/ThirdContract"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaskService"
                contract="VentsService.ITaskService" name="BasicHttpBinding_ITaskService" />
        </client>
    </system.serviceModel>
</configuration>